@{
}
@*need prediction model UTCrash2.Models.Crash UTCrash2.Models.Prediction*@
@model UTCrash2.Models.Prediction


<div class="d-flex justify-content-center">
    <h1>Prediction: @Model.PredictedValue</h1>
</div>
