@{
}
@*need prediction model UTCrash2.Models.Prediction*@
@model UTCrash2.Models.Crash
<div class="d-flex justify-content-center">
    <h1>Prediction:@* @Model.PredictedValue 'doesn't work can't find predicted value' *@</h1>
</div>