@{
    ViewData["Title"] = "Crash Severity Calculator";
}

<div class="d-flex justify-content-center">
    <h1>Crash Severity Calculator</h1>
    <p>this is the predict crash severity part from 455</p>
</div>

<div class="d-flex justify-content-center">
    <form method="post" asp-controller="Inference" asp-action="Score">
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input asp-for="" />
            <br />
        </div>
        <div class="form-group">
            <label>...</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>
        <div class="form-group">
            <label>Commercial Motor Vehicle</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>
        <div class="form-group">
            <label>Older Driver</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>
        <div class="form-group">
            <label>Single Vehicle</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>
        <div class="form-group">
            <label>Distracted Driving</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>
        <div class="form-group">
            <label>Drowsy Driving</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>
        <div class="form-group">
            <label>Roadway Departure</label>
            <input type="radio" asp-for="" value=0>Yes
            <input type="radio" asp-for="" value=1 />No
            <br />
        </div>

        <button type="submit">Calculate</button>
    </form>
</div>

@*<select asp-for="">
    <option value="0">Yes</option>
    <option value="1">No</option>
</select>*@


    <form method="post" asp-controller="Inference" asp-action="Score">

        <div><label>Age:</label><input asp-for="Age" value="25" /></div>
        <div><label>BMI:</label><input asp-for="Bmi" value="32.23" /></div>
        <div><label>Children</label><input asp-for="NumChildren" value="1" /></div>
        <div><label>Male?</label><input asp-for="Male" value="0" /></div>
        <div><label>Smoker?</label><input asp-for="Smoker" value="0" /></div>
        <div><label>Region_Northwest</label><input asp-for="Region_Northwest" value="0" /></div>
        <div><label>Region_Southeast</label><input asp-for="Region_Southeast" value="1" /></div>
        <div><label>Region_Southwest</label><input asp-for="Region_Southwest" value="0" /></div>

        <button type="submit">Calculate</button>
    </form>
