@{
    ViewData["Title"] = "Crash Severity Calculator";
}

<div >
    <h1 class="d-flex justify-content-center">Crash Severity Calculator</h1> <br />
    <p class="d-flex justify-content-center">this is the predict crash severity part from 455</p>
</div>
<br />
<div class="d-flex justify-content-center">
    <form method="post" asp-controller="Inference" asp-action="Score">
        <div class="text-danger font-weight-bold bg-light" asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Month</label> <br />
            <select>
                <option asp-for="Month" value=1>January</option>
                <option asp-for="Month" value=2>Febuary</option>
                <option asp-for="Month" value=3>March</option>
                <option asp-for="Month" value=4>April</option>
                <option asp-for="Month" value=5>May</option>
                <option asp-for="Month" value=6>June</option>
                <option asp-for="Month" value=7>July</option>
                <option asp-for="Month" value=8>August</option>
                <option asp-for="Month" value=9>September</option>
                <option asp-for="Month" value=10>October</option>
                <option asp-for="Month" value=11>November</option>
                <option asp-for="Month" value=12>December</option>

            </select>
        </div>
        <div class="form-group">
            <label>City</label> <br />
            <select>
                <option asp-for="city_AMERICAN FORK" value=1>American Fork</option>
                <option asp-for="city_HIGHLAND" value=1>Highland</option>
                <option asp-for="city_LAYTON" value=1>Layton</option>
                <option asp-for="city_OGDEN" value=1>Ogden</option>
                <option asp-for="city_PROVO" value=1>Provo</option>
                <option asp-for="city_ROY" value=1>Roy</option>
                <option asp-for="city_SALT LAKE CITY" value=1 selected>Salt Lake City</option>
                <option asp-for="city_SOUTH SALT LAKE" value=1>South Salt Lake</option>
                <option asp-for="city_WEST JORDAN'," value=1>West Jordan</option>
                <option asp-for="city_WEST VALLEY CITY" value=1>West Valley City</option>
                <option asp-for="city_OUTSIDE CITY LIMITS" value=1>Outside City Limits</option>
                <option asp-for="CITY" value=0>City Not Listed</option>
            </select>
        </div>
        <div class="form-group">
            <label>County</label> <br />
            <select>
                <option asp-for="COUNTY_ID" value=1>Beaver</option>
                <option asp-for="COUNTY_ID" value=2>Box Elder</option>
                <option asp-for="COUNTY_ID" value=3>Cache</option>
                <option asp-for="COUNTY_ID" value=4>Carbon</option>
                <option asp-for="COUNTY_ID" value=5>Dagget</option>
                <option asp-for="COUNTY_ID" value=6>Davis</option>
                <option asp-for="COUNTY_ID" value=7>Duchesne</option>
                <option asp-for="COUNTY_ID" value=8>Emery</option>
                <option asp-for="COUNTY_ID" value=9>Garfield</option>
                <option asp-for="COUNTY_ID" value=10>Grand</option>
                <option asp-for="COUNTY_ID" value=11>Iron</option>
                <option asp-for="COUNTY_ID" value=12>Juab</option>
                <option asp-for="COUNTY_ID" value=13>Kane</option>
                <option asp-for="COUNTY_ID" value=14>Millard</option>
                <option asp-for="COUNTY_ID" value=15>Morgan</option>
                <option asp-for="COUNTY_ID" value=16>Piute</option>
                <option asp-for="COUNTY_ID" value=17>Rich</option>
                <option asp-for="COUNTY_ID" value=18 selected>Salt Lake</option>
                <option asp-for="COUNTY_ID" value=19>San Juan</option>
                <option asp-for="COUNTY_ID" value=20>San Pete</option>
                <option asp-for="COUNTY_ID" value=21>Sevier</option>
                <option asp-for="COUNTY_ID" value=22>Summit</option>
                <option asp-for="COUNTY_ID" value=23>Tooele</option>
                <option asp-for="COUNTY_ID" value=24>Uintah</option>
                <option asp-for="COUNTY_ID" value=25>Utah</option>
                <option asp-for="COUNTY_ID" value=26>Wasatch</option>
                <option asp-for="COUNTY_ID" value=27>Washington</option>
                <option asp-for="COUNTY_ID" value=28>Wayne</option>
                <option asp-for="COUNTY_ID" value=29>Weber</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Crash Severity</label> <br />
            <select>
                <option asp-for="CRASH_SEVERITY_ID" value=1 selected>No Injury</option>
                <option asp-for="CRASH_SEVERITY_ID" value=2>Possible Injury</option>
                <option asp-for="CRASH_SEVERITY_ID" value=3>Minor Injury</option>
                <option asp-for="CRASH_SEVERITY_ID" value=4>Serious Injury</option>
                <option asp-for="CRASH_SEVERITY_ID" value=5>Fatal</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Work Zone</label> <br />
            <select>
                <option asp-for="WORK_ZONE_RELATED" value=0>Yes</option>
                <option asp-for="WORK_ZONE_RELATED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Pedestrian Involved</label> <br />
            <select>
                <option asp-for="PEDESTRIAN_INVOLVED" value=0>Yes</option>
                <option asp-for="PEDESTRIAN_INVOLVED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Bicyclist Involved</label> <br />
            <select>
                <option asp-for="BICYCLIST_INVOLVED" value=0>Yes</option>
                <option asp-for="BICYCLIST_INVOLVED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Motorcycle Involved</label> <br />
            <select>
                <option asp-for="MOTORCYCLE_INVOLVED" value=0>Yes</option>
                <option asp-for="MOTORCYCLE_INVOLVED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Commercial Motor Vehicle Involved</label> <br />
            <select>
                <option asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" value=0>Yes</option>
                <option asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Teenage Driver Involved</label> <br />
            <select>
                <option asp-for="TEENAGE_DRIVER_INVOLVED" value=0>Yes</option>
                <option asp-for="TEENAGE_DRIVER_INVOLVED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Improper Restraint</label> <br />
            <select>
                <option asp-for="IMPROPER_RESTRAINT" value=0>Yes</option>
                <option asp-for="IMPROPER_RESTRAINT" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Unrestrained</label> <br />
            <select>
                <option asp-for="UNRESTRAINED" value=0>Yes</option>
                <option asp-for="UNRESTRAINED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Drunk Under the Influence</label> <br />
            <select>
                <option asp-for="DUI" value=0>Yes</option>
                <option asp-for="DUI" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Intersection</label> <br />
            <select>
                <option asp-for="INTERSECTION_RELATED" value=0>Yes</option>
                <option asp-for="INTERSECTION_RELATED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Wild Animal</label> <br />
            <select>
                <option asp-for="WILD_ANIMAL_RELATED" value=0>Yes</option>
                <option asp-for="WILD_ANIMAL_RELATED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Domestic Animal</label> <br />
            <select>
                <option asp-for="DOMESTIC_ANIMAL_RELATED" value=0>Yes</option>
                <option asp-for="DOMESTIC_ANIMAL_RELATED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Overturn</label> <br />
            <select>
                <option asp-for="OVERTURN_ROLLOVER" value=0>Yes</option>
                <option asp-for="OVERTURN_ROLLOVER" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Nighttime or Dark Conditions</label> <br />
            <select>
                <option asp-for="NIGHT_DARK_CONDITION" value=0>Yes</option>
                <option asp-for="NIGHT_DARK_CONDITION" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Older Driver Involved</label> <br />
            <select>
                <option asp-for="OLDER_DRIVER_INVOLVED" value=0>Yes</option>
                <option asp-for="OLDER_DRIVER_INVOLVED" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Single Vehicle Accident</label> <br />
            <select>
                <option asp-for="SINGLE_VEHICLE" value=0>Yes</option>
                <option asp-for="SINGLE_VEHICLE" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Distracted Driving</label> <br />
            <select>
                <option asp-for="DISTRACTED_DRIVING" value=0>Yes</option>
                <option asp-for="DISTRACTED_DRIVING" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Drowsy Driving</label> <br />
            <select>
                <option asp-for="DROWSY_DRIVING" value=0>Yes</option>
                <option asp-for="DROWSY_DRIVING" value=1 selected>No</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label>Roadway Departure</label> <br />
            <select>
                <option asp-for="ROADWAY_DEPARTURE" value=0>Yes</option>
                <option asp-for="ROADWAY_DEPARTURE" value=1 selected>No</option>
            </select>
            <br />
        </div>

        <button type="submit" class="btn btn-outline-dark btn-large">Calculate</button>
    </form>
</div>

@*<select asp-for="">
        <option value="0">Yes</option>
        <option value="1">No</option>
    </select>*@

