@{
    ViewData["Title"] = "Crash Severity Calculator";
}

<div class="d-flex justify-content-center">
    <h1>Crash Severity Calculator</h1>
    <p>this is the predict crash severity part from 455</p>
</div>

<div class="d-flex justify-content-center">
    <form method="post">
        <div class="form-group">
            <label>...</label>
            <input /> @*or <select>*@
            <br />
        </div>
    </form>
</div>