@{
    ViewData["Title"] = "Home Page";
}

<center>
    <header>
        @* required for cookie consent *@
        <partial name="_CookieConsentPartial" />
        <h1 class="display-4">Welcome To Utah Crashes</h1>
        <h2>Your Encyclopedia for Every Traffic trouble</h2>
        <h3> (Y.E.E.T.)</h3>
        <img src="~/img/YEET.png" height="300" width="250" />
    </header>
    <body class="bgimage">
        <br />
        <p class="common">
            The purpose of our website is to bring attention to the rising amount of automobile crashes in Utah. We believe that education is the first step to stoping these sad occurances.
            We hope that our interactive and informative website allows for a fuller understanding of Utah Crashes and provides you with an encyclopedia for understanding traffic troubles.

        </p>
        <h3 class="common">
            ABC 4 published their findings that Utah car crashes have killed more people in 2021 than in the last 11 years.
        </h3>
        <p class="common">


            <iframe scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" src="https://w3.mp.lura.live/player/prod/v3/anvload.html?key=eyJtIjoiTElOIiwidiI6IjY3MjczMzYiLCJhbnZhY2siOiJYRWFZb3k4MlBEZFlLQzZSbHBTNTdIanBhOURBajhCUCIsInNoYXJlTGluayI6Imh0dHBzOi8vd3d3LmFiYzQuY29tL25ld3MvbG9jYWwtbmV3cy91dGFoLWNhci1jcmFzaGVzLWtpbGwtbW9yZS1wZW9wbGUtaW4tMjAyMS10aGFuLWluLXRoZS1sYXN0LTExLXllYXJzLWRhdGEtc2hvd3MvIiwicGx1Z2lucyI6eyJjb21zY29yZSI6eyJjbGllbnRJZCI6IjYwMzY0MzkiLCJjMyI6ImFiYzQuY29tIiwic2NyaXB0IjoiLy93My5tcC5sdXJhLmxpdmUvcGxheWVyL3Byb2QvdjMvcGx1Z2lucy9jb21zY29yZS9jb21zY29yZXBsdWdpbi5taW4uanMiLCJ1c2VEZXJpdmVkTWV0YWRhdGEiOnRydWUsIm1hcHBpbmciOnsidmlkZW8iOnsiYzMiOiJhYmM0LmNvbSIsIm5zX3N0X3N0Ijoia3R2eCIsIm5zX3N0X3B1IjoiTmV4c3RhciIsIm5zX3N0X2dlIjoiTmV3cyxWaWRlbyIsImNzX3VjZnIiOiIifSwiYWQiOnsiYzMiOiJhYmM0LmNvbSIsIm5zX3N0X3N0Ijoia3R2eCIsIm5zX3N0X3B1IjoiTmV4c3RhciIsIm5zX3N0X2dlIjoiTmV3cyxWaWRlbyIsImNzX3VjZnIiOiIifX19LCJkZnAiOnsiY2xpZW50U2lkZSI6eyJhZFRhZ1VybCI6Imh0dHBzOi8vcHViYWRzLmcuZG91YmxlY2xpY2submV0L2dhbXBhZC9hZHM%2Fc3o9MXgxMDAwJml1PSUyRjU2NzglMkZueC5rdHZ4JTJGbmV3cyUyRmxvY2FsX25ld3MmaW1wbD1zJmdkZnBfcmVxPTEmZW52PXZwJm91dHB1dD12bWFwJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmYWRfcnVsZT0xJmRlc2NyaXB0aW9uX3VybD1odHRwcyUzQSUyRiUyRnd3dy5hYmM0LmNvbSUyRm5ld3MlMkZsb2NhbC1uZXdzJTJGdXRhaC1jYXItY3Jhc2hlcy1raWxsLW1vcmUtcGVvcGxlLWluLTIwMjEtdGhhbi1pbi10aGUtbGFzdC0xMS15ZWFycy1kYXRhLXNob3dzJTJGJnZjb25wPTImY3VzdF9wYXJhbXM9dmlkJTNENjcyNzMzNiUyNmNtc2lkJTNEODc5Njg4JTI2cGlkJTNEODc5Njg4JTI2cGVyc19jaWQlM0RueHMtNC1hcnRpY2xlLTg3OTY4OCUyNnZpZGNhdCUzRCUyRm5ld3MlMkZsb2NhbF9uZXdzJTI2Ym9iX2NrJTNEJTVCYm9iX2NrX3ZhbCU1RCUyNmRfY29kZSUzRDElMjZwYWdldHlwZSUzRHN0b3J5JTI2cGxheWVyd2lkdGglM0Q1MTcuMzMzJTI2cGxheWVyaGVpZ2h0JTNEMjkxJTI2dXBpZCUzRDI1MTJlNmJmLTkwZjUtNDRkNC1hOTEzLTBiMmY2NzQyNzkxZSUyNnBlcm11dGl2ZSUzRDg1MjAwJTI1MkM5NDI1OSZwcGlkPWRhMjczYzFhLTlhOTItNDM3Ni1iN2UzLWFlOWRiNWU3MTE0ZCIsInZwYWlkTW9kZSI6ImVuYWJsZWQifX0sIm5pZWxzZW4iOnsiYXBpZCI6IlBGQzZDNzlEQi00MEY0LTQ5MzktQTc5OS1GOEMwRTI3NkI2QzAiLCJzZmNvZGUiOiJkY3IiLCJ0eXBlIjoiZGNyIiwiYXBuIjoiQW52YXRvIiwiZW52aXJvbm1lbnQiOiJwcm9kdWN0aW9uIiwidXNlRGVyaXZlZE1ldGFkYXRhIjp0cnVlLCJtYXBwaW5nIjp7ImFkbG9hZHR5cGUiOjIsImFkTW9kZWwiOjJ9LCJvcHRPdXQiOmZhbHNlfSwic2VnbWVudEN1c3RvbSI6eyJzY3JpcHQiOiJodHRwczovL3NlZ21lbnQucHNnLm5leHN0YXJkaWdpdGFsLm5ldC9hbnZhdG8uanMiLCJ3cml0ZUtleSI6IkQ2aFhBR2ZsaldGRHhOY1dkQnV3NVpkY0VacHU2a0Q1IiwicGx1Z2luc0xvYWRpbmdUaW1lb3V0IjoxMn0sImdvb2dsZUFuYWx5dGljcyI6eyJ0cmFja2luZ0lkIjoiVUEtMzcxNDQ5MDEtNDAiLCJldmVudHMiOnsiQURfU1RBUlRFRCI6eyJhbGlhcyI6IlZpZGVvLUFkIiwiY2F0ZWdvcnkiOiJWaWRlbyIsImxhYmVsIjoiW1tUSVRMRV1dIn0sIlZJREVPX1NUQVJURUQiOnsiYWxpYXMiOiJWaWRlby1QbGF5IiwiY2F0ZWdvcnkiOiJWaWRlbyIsImxhYmVsIjoiW1tUSVRMRV1dIn0sIlZJREVPX0ZJUlNUX1FVQVJUSUxFIjp7ImFsaWFzIjoiVmlkZW8tMjUlIiwiY2F0ZWdvcnkiOiJWaWRlbyIsImxhYmVsIjoiW1tUSVRMRV1dIn0sIlZJREVPX01JRF9QT0lOVCI6eyJhbGlhcyI6IlZpZGVvLTUwJSIsImNhdGVnb3J5IjoiVmlkZW8iLCJsYWJlbCI6IltbVElUTEVdXSJ9LCJWSURFT19USElSRF9RVUFSVElMRSI6eyJhbGlhcyI6IlZpZGVvLTc1JSIsImNhdGVnb3J5IjoiVmlkZW8iLCJsYWJlbCI6IltbVElUTEVdXSJ9LCJWSURFT19DT01QTEVURUQiOnsiYWxpYXMiOiJWaWRlby0xMDAlIiwiY2F0ZWdvcnkiOiJWaWRlbyIsImxhYmVsIjoiW1tUSVRMRV1dIn0sIlVTRVJfUEFVU0UiOnsiYWxpYXMiOiJQYXVzZSIsImNhdGVnb3J5IjoiVmlkZW8iLCJsYWJlbCI6IltbVElUTEVdXSJ9LCJVU0VSX1JFU1VNRSI6eyJhbGlhcyI6IlJlc3VtZSIsImNhdGVnb3J5IjoiVmlkZW8iLCJsYWJlbCI6IltbVElUTEVdXSJ9fX0sInBhbCI6eyJwcGlkIjoiZGEyNzNjMWEtOWE5Mi00Mzc2LWI3ZTMtYWU5ZGI1ZTcxMTRkIiwiZGVzY3JpcHRpb25VcmwiOiJodHRwcyUzQSUyRiUyRnd3dy5hYmM0LmNvbSUyRm5ld3MlMkZsb2NhbC1uZXdzJTJGdXRhaC1jYXItY3Jhc2hlcy1raWxsLW1vcmUtcGVvcGxlLWluLTIwMjEtdGhhbi1pbi10aGUtbGFzdC0xMS15ZWFycy1kYXRhLXNob3dzJTJGIiwibGlicmFyeVJlcXVlc3RlZCI6dHJ1ZSwicEluc3RhbmNlIjoicDEwNSJ9fSwiaHRtbDUiOnRydWUsInRva2VuIjoiZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6STFOaUo5LmV5SjJhV1FpT2lJMk56STNNek0ySWl3aWFYTnpJam9pV0VWaFdXOTVPREpRUkdSWlMwTTJVbXh3VXpVM1NHcHdZVGxFUVdvNFFsQWlMQ0psZUhBaU9qRTJORGt5TURBeU5qRjkuSlhVTVByV2JYVmNwZnpDZmtzWmNGNHk3NllnQ05vVDBUZzZOWnpMVldJYyJ9" width="640" height="360"></iframe>


        </p>
    </body>
</center>