
@{
    ViewData["Title"] = "Crash Solutions";
}

<center>
    <p>

        A page that lists out the summary data per accident for all accidents in the database.  (There are a significant number of records, so probably best to break the summary information up by pages.)
        The ability to filter the data in the summary page to get to specific results
    </p>

    <img src="~/img/corr.png" height="500" width="400" />
</center>
<br />
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Motorcycle
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        A large portion of motorcycle accidents aren’t the fault of the motorcyclists. We suggest better training at the DMV for drivers to check blind spots and signaling.
                    </li>
                    <li>
                        Utah a couple years ago passed a law that allows motorcyclists to drive in between the lanes. Yet they are the number one result in accidents. Revoking this law while offering potential to frustrate motorcyclists, would save lives.
                    </li>
                    <li>
                        During motorcycle license application, promote further explanation on proper equipment. Certain helmets have proven to be visually impairing and understanding the importance of sight.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Overturn Rollover
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        These accidents happen very frequently during the middle of the day, on a straight and dry road. Causes tend to be user error or fatigue. While we can’t enforce nationally for the drivers traveling through Utah, limit the hours of service regulations for driving limits for Utah employees.
                    </li>
                    <li>
                        Rollover occurs more frequently at high speeds. Lowering speed limits provides increased safety.
                    </li>
                    <li>
                        Rollover chance is more likely depending on load size and safety precaution. Extra training or enforcement on properly tying down loads and further strictness upon load limitations.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Pedestrian
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        71% of pedestrian deaths occur at non-intersections. Higher enforcement on jaywalking can reduce occurrences that the driver didn’t see the pedestrian.
                    </li>
                    <li>
                        It may be hard to see pedestrians at night, further expansion on street lights will provide increased sight for drivers and promote safer streets to walk on during the night.
                    </li>
                    <li>
                        Adjust the line where drivers stop before the crosswalk by moving the line further back. Ideally providing, at the very least, extra reaction time for a driver to slam on the brakes if needed.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Bicyclist
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        With purchase of a bicycle a pamphlet could be provided about hand signals, equipment, and proper upkeep of the bicycle. Understanding brakes wear down over time is key. Ideally this teaches benefits in maximizing visibility and minimizing unpredictability of direction.
                    </li>
                    <li>
                        Have restrictions to keep the bike lane clear. No parking zones can be placed where bike lanes exist. Trash cans should be placed on the outside of the bike lane.
                    </li>
                    <li>
                        Share the Road initiative. Ensure drivers know to look out for not only cars but smaller vehicles such as bikes, mopeds, or motorcycles during training.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Unrestrained
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        The switch from changing enforcement from secondary law to primary law, allowing police to pull over drivers for improper use of seatbelts. But further restraint could be implemented in the form of enhanced enforcement by increasing the average number of citations.
                    </li>
                    <li>
                        Accidents that happen with unrestrained or improper restraints consistently increase the crash severity into the serious injury and fatal categories. There currently always exists adds for buckle up and under the influence. Increase their frequency.
                    </li>
                    <li>
                        Unrestrained accidents are not limited to ensuring the fastening of people, but also cargo. Proper instruction of how to strap down carseats and large cargo should be provided on purchase of product.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    DUI
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Any substance that provides a form of impairment needs to prevent causes for driving. Parking options for overnight parking would promote options of taking public transportation. While alleviating parking limitability.
                    </li>
                    <li>
                        Increase the amount of sobriety checkpoints in hot areas where police stop specifically to check alcohol impaired driving.
                    </li>
                    <li>
                        Offer incentives for bars to promote rideshare apps and sobriety tests.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Improper Restraint
                </button>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li><i>See Unrestrained Accidents</i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Intersection Related
                </button>
            </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Utah has the flashing yellow turn light. Change the system to steady green arrows. Many drivers overestimate their ability to cross before safety or due to the light being too long. At the cost of slightly slower light rotation change times, countless accidents can be prevented.
                    </li>
                    <li>
                        During weather conditions such as rain, sleet, or snow the chances increase of accidents by 15%. Proper training on what to do in situations such as sliding out, visual impairment, or loss of brakes should be provided during license training.
                    </li>
                    <li>
                        An 80% reduction of injury exists at roundabouts then at lights and stop signs. Implement roundabouts at accident prone areas.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Single Vehicle
                </button>
            </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        These accidents are typically due to lack of attention to road or drowsiness. 75% of these accidents involve use of the phone right before. Promoting campaigns such as don't text while driving to be convincing. Increasing fines on those who text while drive.
                    </li>
                    <li>
                        During weather conditions such as rain, sleet, or snow the chances increase of accidents by 15%. Proper training on what to do in situations such as sliding out, visual impairment, or loss of brakes should be provided during license training.
                    </li>
                    <li>
                        Seniors have an increased risk of these types of crashes. Driving assessments at older ages should be included more often to ensure road security for not only them but the masses.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTen">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Roadway Departure
                </button>
            </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>
                        Widening the seperation between the two sides of the freeway ensures that when there is a crash, it doesn't fly over and hit additional cars.
                    </li>
                    <li>
                        Highways provide consistent safety barriers on both sides of the street. We can upgrade existing safety barriers to ensure stability and place barriers where their aren't any.'
                    </li>
                    <li>
                        Increase the frequency of rubble strips on the road, especially on the freeway. If the freeway was widened they can even be placed inbetween each lane, which while a little overkill, incredibly effective.
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>




<!--<h1> V2 </h1>


<div class="container-lg">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Collapsible Group Item #4 <i class="material-icons">add</i></a>
                        </h2>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1> V3 </h1>

<section class="accordion_two_section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 accordionTwo">
                <div class="panel-group" id="accordionTwoLeft">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftone" aria-expanded="false" class="collapsed"> Motorcycle </a> </h4>
                        </div>
                        <div id="collapseTwoLeftone" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
                        </div>
                    </div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftTwo" aria-expanded="false"> Overturn Rollover </a> </h4>
    </div>
    <div id="collapseTwoLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftThree" aria-expanded="false"> Pedestrian </a> </h4>
    </div>
    <div id="collapseTwoLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftFour" aria-expanded="false"> Bicyclist </a> </h4>
    </div>
    <div id="collapseTwoLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftFive" aria-expanded="false"> Unrestrained </a> </h4>
    </div>
    <div id="collapseTwoLeftFive" class="panel-collapse collapse" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--</div>-->
<!--end of /.panel-group-->
<!--</div>-->
<!--end of /.col-sm-6-->
<!--<div class="col-sm-6 accordionTwo">
    <div class="panel-group" id="accordionTwoRight">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightone" aria-expanded="false"> DUI </a> </h4>
            </div>
            <div id="collapseTwoRightone" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
            </div>
        </div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightTwo" aria-expanded="false"> Improper Restraint </a> </h4>
    </div>
    <div id="collapseTwoRightTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightThree" aria-expanded="false"> Intersection Related </a> </h4>
    </div>
    <div id="collapseTwoRightThree" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightFour" aria-expanded="false"> Single Vehicle </a> </h4>
    </div>
    <div id="collapseTwoRightFour" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightFive" aria-expanded="false"> Roadway Departure </a> </h4>
    </div>
    <div id="collapseTwoRightFive" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
        <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit risus nisl, nec facilisis ante iaculis fringilla. Integer mattis risus vel dapibus rhoncus. Duis ut nulla et metus vehicula facilisis non eu quam. </div>
    </div>
</div>-->
 <!-- /.panel-default -->
<!--</div>-->
<!--end of /.panel-group-->
<!--</div>-->
<!--end of /.col-sm-6-->
<!--</div>
</div>-->
<!--end of /.container-->
@*</section>*@
